@button_text: #FFF;
@light_red:#B80505;
@dark_red:#6E0000;
@content_width: 900px;
@button_width: 120px;
@padding: 50px;

@font-face {
    font-family: GraublauWeb;
    src: url(/fonts/GraublauWeb.otf) format(truetype);
}
@font-face {
    font-family: GraublauWeb;
    font-weight: bold;
    src: url(/fonts/GraublauWebBold.otf) format(truetype);
}

* {
  margin: 0;
  padding: 0;
  color:#3D3D3D;
	font-size:14px
}

h1 {
  font-size: 22px; 
}

h3 {
  font-size: 16px; 
  color: @dark_red;
  margin-top: 5px;
  margin-bottom: 5px; 
  text-shadow:1px 1px 1px #666;
}

body {
  background-color: white;
}

.top {
	width: @content_width;
  margin-left: auto ;
  margin-right: auto ;
}

#header {
	.top;
  height: 100px;
	z-index: 10;
	#logo {
    border: none;
		display: block;
		position:relative;
		left: 22px;
		top: 30px;
	}
}

.slice {
  background:transparent url(/images/bar_slice.png) repeat-x;
  float:left;
  height:38px;
  width:6px;
}

#navbar {
	.top;
  height: 23px;
	font-family:GraublauWeb,Verdana,Helvetica,Arial;
  font-weight:bold;
  text-align:center;
  text-shadow:2px 2px 2px #000000;
  top:-10px;

	a {
    color: @button_text;
		font-size: 1.5em;
		text-decoration: none;
		line-height:170%;
	}

  #nav_button {
    .slice;
    width:@button_width;
  }

  div.selected {
    .slice;
    width:@button_width;
    background:transparent url(/images/bar_slice_selected.png) repeat-x;
  }

  div.button {
    .slice;
    width:@button_width; 
  }

  div.button:hover {
    .slice;
    width:@button_width; 
    background:transparent url(/images/bar_slice_hover.png) repeat-x;
  }

	div.bar_divider {
    .slice;
		#green_pawn {
			position: relative;
      z-index: 10;
      left: 5px;
      bottom: 34px;
  	}
		background:transparent url(/images/bar_divider.png) no-repeat;
		width: 2px;
	}

  div.padding {
    .slice;
    width:@content_width - ((@button_width * 4) + 128 + (6 * 2) + (2*5));
	}

	div.left_round {
    .slice;
    background:transparent url(/images/bar_slice_left_round.png) no-repeat;
	}

	div.left_regular {
    .slice;
    background:transparent url(/images/bar_slice_left_regular.png) repeat-x;
    width: 128px;
	}

	div.left_divider {
    .slice;
    background:transparent url(/images/bar_slice_left_divider.png) no-repeat;
    width: 2px;
	}

	div.right {
    .slice;
		background:transparent url(/images/bar_slice_right.png) no-repeat;
	}
}

#content{
  background:transparent url(/images/shadow_sides.png) repeat-y;
  clear: both;
  display: block;


  padding-left: @padding;
  padding-right: @padding;
  padding-top: 10px;
  padding-bottom: 80px;
  width: @content_width - 2 * @padding;
  margin-right: auto;
  margin-left: auto;
}

#footer{
  background:transparent url(/images/shadow_footer.png) no-repeat;
  clear: both;
  display: block;

  margin-right: auto;
  margin-left: auto;

  height:59px;
  width:@content_width;
}
